{% extends "./base.html" %}

{% block title %}  {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar videojuego</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarVideojuego/" method="POST">{% csrf_token %}
                    <div class="form-group py-1">
                        <input type="text" id="numId" name="numId" value="{{videojuego.id}}" class="form-control" placeholder="Id" minlength="1" maxlength="1000000" required readonly>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{videojuego.nombre}}" class="form-control" placeholder="Nombre" minlength="3" maxlength="50" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="numHoras" name="numHoras" value="{{videojuego.num_horas}}" class="form-control" placeholder="Num_Horas" minlength="1" maxlength="100" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="text" id="txtGenero" name="txtGenero" value="{{videojuego.genero}}" class="form-control" placeholder="Genero" minlength="1" maxlength="50" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="date" id="dateFecha" name="dateFecha" value="{{videojuego.fecha_publicacion}}" class="form-control" placeholder="Fecha de publicación" required>
                    </div>
                    <div class="form-group py-1">
                        <input type="" id="dateFecha" name="dateFecha" value="{{videojuego.fecha_publicacion}}" class="form-control" placeholder="Fecha de publicación" required>
                    </div>
                    <div class="form-group py-1">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}