{% extends "./base.html" %}

{% block title %} Gaministration {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8 py-4">
        <h2>Listado de videojuegos</h2>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>num_horas</th>
                        <th>genero</th>
                        <th>Compañía</th>
                        <th>fecha_publicacion</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for videojuego in videojuegos %}
                        <tr>
                            {% if videojuego.compania == "Nintendo" %}
                                <td style="background: red">{{ videojuego.id }}</td>
                            {% endif %}
                            {% if videojuego.compania == "Sony" %}
                                <td style="background: blue">{{ videojuego.id }}</td>
                            {% endif %}
                            {% if videojuego.compania == "Xbox" %}
                                <td style="background: lawngreen">{{ videojuego.id }}</td>
                            {% endif %}
                            <td>{{ videojuego.nombre }}</td>
                            <td>{{ videojuego.num_horas }}</td>
                            <td>{{ videojuego.genero }}</td>
                            <td>{{ videojuego.compania }}</td>
                            <td>{{ videojuego.fecha_publicacion }}</td>
                            <td><a href="/edicionVideojuego/{{videojuego.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="/eliminarVideojuego/{{videojuego.id}}" class="btn btn-danger">Eliminar</a>  </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}